{{#addpost}}
        {{#errorMessage}}
                {{.}}
        {{/errorMessage}}
{{/addpost}}
<form method="post" action="">
        <input name="content" type="text" id="post_content_input" /> 
        <br />
        <input name="addpost_active" type="hidden" /> 
        <input type="submit" id="addpost_form_submit" value="add post" />
</form>