{{#addthread}}
        {{#errorMessage}}
                {{.}}
        {{/errorMessage}}
{{/addthread}}
<form method="post" action="">
        <input name="subject" type="text" id="threads_subject_input" />
        <br />
        <input name="content" type="text" id="threads_content_input" /> 
        <br />
        <input name="tags" type="text" id="threads_tags_input" /> 
        <br />
        <input name="addthread_active" type="hidden" /> 
        <input type="submit" id="addthread_form_submit" value="add thread" />
</form>