<html>
        {{#pwChangeProcessed}}
        Password reset
        {{/pwChangeProcessed}}
        {{#pwChangeError}}
        Problem resetting password
        {{/pwChangeError}}

        <table border="1">
        <tr>
           <th>Username</th>
           <th>Recovery Email</th>
           <th>Password reset request</th>
           <th>Change password</th>
           <th>Admin</th>
        </tr>
        {{#users}}
        <tr>
            <td>{{username}}</td>
            <td id="{{username}}_recoveryEmail">{{recoveryEmail}}</td>
            <td id="{{username}}_passwordResetRequest">{{resetPasswordRequest}}</td>
            <td id="{{username}}_changepw">
                    <form id="admin_change_pw" method="post">
                            <input type="text" name="changepw_password" />
                            <input type="hidden" name="changepw_username" value="{{username}}"/>
                            <input type="hidden" name="changepw_active" />
                            <input type="submit" value="submit" name="changepw_submit" />
                    </form>
            </td>
        	<td>
        	      <form action="" method="post" class="" style="block:inline">
        	      	<input type="hidden" name="admintoggle_username" value="{{username}}" />
        	      	<input type="hidden" name="admintoggle_active" value="true" />
        	      	<button id="{{username}}_admin" type="submit">{{admin}}</button>
        	     </form>
        	</td>
        </tr>
        {{/users}}
        </table>
</html>