<html>
	<head>
		<title>Reset password - Android Manchester</title>
    {{> common_header_elements}}
	</head>
  <body class="container">

  {{> nav_bar}}
{{^loggedin}}
                {{#login}}
                        {{#errorMessage}}
                                {{.}} ?<br />
                        {{/errorMessage}}
                {{/login}}
        <form method="post" action="">
                <input name="username" type="text" id="login_username_input" />
                <input name="password" type="text" id="login_password_input" /> 
                <input name="login_active" type="hidden" /> 
                <input type="submit" id="login_form_submit" value="login" />
        </form>
{{/loggedin}}
{{#loggedin}}
        <form method="" action="{{contextPath}}/">
                <input name="logout_active" value="yeah" type="hidden" /> 
                <input type="submit" id="logout_form_submit" value="logout" />
        </form>
		{{#isadmin}}
			<a href="{{contextPath}}/admin" id="admin">admin</a>
		{{/isadmin}}
{{/loggedin}}
</body>
</html>