{{moveError}}

<html>
		<p>As user: {{username}}</p>
 		<form action="/post/movetothread" method="post">
 			<input 
 				type="text" 
 				name="subject" 
 				/>
 			<input type="hidden" name="postId" value="{{postId}}"/>
 			<input type="hidden" name="userId" value="{{username}}"/>
			<input type="submit" 
				id="move_to_thread"
				{{^isAdmin}}
					disabled="disabled"
					value="please logon to move post" 
				{{/isAdmin}}
				{{#isAdmin}}
					value="move post to new thread"
				{{/isAdmin}}
			/>
 		</form>
</html>
