<html>
	<head>
		<title>Move post to thread - Android Manchester</title>
    {{{common_header_elements}}}
	</head>
  <body class="container">

  {{{nav_bar}}}

  <div style="color: red;float: right">
	{{moveError}}
  </div>
	
		<p class="form-bottom-margin black-colour">As user: {{username}}</p>
 		<form 
 		  action="/app/post/movetothread/{{postId}}" 
 	    class="max-form-width"	
 		method="post">
 			<input 
 				id="move_to_thread_subject"
 				class="form-control form-bottom-margin"
 				type="text" 
 				name="subject" 
 				/>
 			<input type="hidden" name="postId" value="{{postId}}"/>
 			<input type="hidden" name="userId" value="{{username}}"/>
			<input type="submit" 
				id="move_to_thread_submit"
				class="form-control"
				{{^isAdmin}}
					disabled="disabled"
					value="please logon to move post" 
				{{/isAdmin}}
				{{#isAdmin}}
					value="move post to new thread"
				{{/isAdmin}}
			/>
 		</form>
	</body>
</html>
