<html>
	<head>
		<title>Reset password - Android Manchester</title>
    {{> common_header_elements}}
	</head>
  <body class="container">

  {{> nav_bar}}
       {{#error}}
         <div id="error">
               {{.}}
         </div>
       {{/error}}
        <form 
          style="width: 50%"
          action="/post/edit/{{postId}}?thread={{thread}}&start={{start}}&limit={{limit}}"
          method="post">
          <div>
            <textarea name="content" cols="50" 
            class="form-control form-bottom-margin" 
            rows="6">{{content}}</textarea>
          </div>
          <div>
            <input type="submit" 
               id="editpost_submit_input"
               class="form-control form-bottom-margin"
               {{^loggedIn}}
                disabled="disabled"
                value="please login to edit"
               {{/loggedIn}}
               {{#loggedIn}}
                value="edit"
               {{/loggedIn}}
            />
          </div>
        </form>     

  </body>
</html> 