<html>
	<head>
		<title>Reset password - Android Manchester</title>
	</head>
	<body class="container">
	
			   		<form action="" method="post" style="width:50%">
			      		<div class="form-group">
							<input type="input" placeholder="Recovery email address" class="form-control" name="recoveryEmail" /> 
			      		</div>
			      		<div class="form-group">
							<input class="form-control" type="submit" value="Request password reset" id="reset_password_input" />
			      		</div>
					</form>					

	</body>
</html>
