<html>
  <head>
    <title>Register - Android Manchester</title>
    {{> common_header_elements}}
  </head>
  <body class="container">
    {{> nav_bar}}

        {{#registerErrorMessage}}
                <span style="color: red">{{.}}</span><br />
        {{/registerErrorMessage}}
        {{#registerErrorMessageInRequest}}
                <span style="color: red">{{.}}</span><br />
        {{/registerErrorMessageInRequest}}

      {{^loggedIn}}
        <form 
          style="width: 40%;min-width:350px;"
          action="" method="post" style="display:inline">
          <div>
                  <input class="form-control form-bottom-margin" 
                    id="register_username_input"
                    placeholder="username" name="username" />
          </div>
          <div>
                  <input class="form-control form-bottom-margin" 
                    id="register_password_input"
                    type="password" placeholder="password" name="password" />
          </div>
          <div>
                  <input name="register_active" type="hidden" /> 
          </div>
          <div>
                  <input class="form-control form-bottom-margin" 
                    id="register_recovery_input"
                    type="input" placeholder="optional recovery email address" name="recovery_email" />
          </div>
          <div>
                  <input class="form-control form-bottom-margin" 
                    type="hidden" name="registering" value="true" />
          </div>
          <div>
                  <input class="form-control form-bottom-margin" 
                    id="register_form_submit"
                    type="submit" value="register"/>
          </div>
        </form>
      {{/loggedIn}}

      {{#loggedIn}}
          <div>
            You're already registered and logged in!
          </div> 
      {{/loggedIn}}

  </body>
</html>
