{{^loggedin}}
        <form method="post" action="">
                {{#register}}
                        {{#errorMessage}}
                                {{.}} ?<br />
                        {{/errorMessage}}
                {{/register}}
                <input name="username" type="text" id="register_username_input" />
                <input name="password" type="text" id="register_password_input" /> 
                <input name="recovery_email" type="text" id="register_recovery_input" /> 
                <input name="register_active" type="hidden" /> 
                <input type="submit" id="register_form_submit" value="register" />
        </form>
{{/loggedin}}