<html>

        {{#addPostError}}
        	{{.}}
        {{/addPostError}}

        <form method="post" action="">
                <input name="content" type="text" id="post_content_input" /> 
                <br />
                <input name="addpost_active" type="hidden" /> 
        {{#loggedIn}}
                <input type="submit" id="addpost_form_submit" value="add post" />
        {{/loggedIn}}
        {{^loggedIn}}
                <input type="submit" id="addpost_form_submit" value="add post" disabled="disabled" />
                        <div>please login to add post</div>
        {{/loggedIn}}
        </form>

		{{#loggedInCorrectly}}
	    <form method="get" action="delete">
	        <input name="delete_thread_id" value="{{rootPostId}}" type="hidden" /> 
	        <input type="submit" id="delete_thread_form_submit" value="delete thread" />
		</form>
		{{/loggedInCorrectly}}
	 	<h3 id="thread_subject">
	           {{subject}}
		</h3>
		<ul>
			{{#posts}}
				<li id="post_{{iterate}}">
	           		<span id="post_content">
	           			{{{htmlContent}}}
	           		</span>
	           		- 
	           		<span id="post_author">
	           			{{username}}
	           		</span>
	           		- 
	           		<span id="post_date">
	           			{{lastModifiedDate}}
	           		</span>
	           		<a id="link" href="/post/{{id}}">link</a> 
   		            {{#loggedInCorrectly}}
	           			| <a id="delete_{{iterate}}" href="/post/delete/{{id}}?thread={{parentThreadId}}&limit={{returnToThreadFromDeletePostLimitParam}}&start={{returnToThreadFromDeletePostStartParam}}">delete</a>
        			    {{/loggedInCorrectly}}
   		            {{#isAdmin}}
	           			| <a id="move_to_thread_{{iterate}}" href="/post/movetothread/{{id}}?thread={{parentThreadId}}">move to new thread</a>
            			{{/isAdmin}}
   		            {{#hasEditThreadText}}
	           			| <a id="thread_edit" href="/thread/edit/{{id}}?thread={{parentThreadId}}">edit thread</a>
            			{{/hasEditThreadText}}
   		            {{#hasEditPostText}}
	           			| <a id="thread_edit" href="/post/edit/{{id}}?thread={{parentThreadId}}&start={{returnToThreadFromEditStartParam}}&limit={{returnToThreadFromDeletePostLimitParam}}">edit post</a>
            			{{/hasEditPostText}}
	           			| <a id="reply_{{iterate}}" href="/post/reply/{{id}}?thread={{parentThreadId}}&limit={{returnToThreadFromDeletePostLimitParam}}&start={{returnToThreadFromReplyStartParam}}">reply</a>
	             		{{#editedByAdmin}}
	           			<br />
	           			edited by an admin
	            		{{/editedByAdmin}}
				</li>
			{{/posts}}
		</ul>

        <div>
                <a id="prev" href="{{{prev}}}">prev<a> | <a id="next" href="{{{next}}}">next</a>
        </div>
        {{{pages}}}

</html>