<html>
        {{{register}}}
        {{{pwreset}}}
        {{{login}}}
        {{{addthread}}}
        {{{threads}}}
        <div>
			<a id="prev" href="{{{prev}}}">prev<a> | <a id="next" href="{{{next}}}">next</a>
		</div>
        {{{pages}}}
</html>