<html>
      <head>
      {{{common_header_elements}}}
      </head>
      <body class="container">
      {{{nav_bar}}}


  <div style="color: red;float: right">
        {{#addPostError}}
        	{{.}}
        {{/addPostError}}
  </div>
  
    <div class="thread-header-line">
        <h3 class="thread-header" id="thread_subject">{{subject}}</h3> 
    </div> 

	 	<div id="tags">
	 	 {{#tags}}
	 	   <span class="tag"><a href="/app/index?start=0&limit=10&tag={{.}}">{{.}}</a></span>
	 	 {{/tags}}
		</div>
    

    <div>
			{{#posts}}
				<div id="post_{{iterate}}">
          
              <div class="post" id="post_content">
                <p>{{{htmlContent}}}</p>
              </div> 
              
	            	<div class="post-authorline">
   		            {{#hasEditPostText}}
	           			<a id="delete_{{iterate}}" href="/app/post/delete/{{id}}?thread={{parentThreadId}}&limit={{returnToThreadFromDeletePostLimitParam}}&start={{returnToThreadFromDeletePostStartParam}}">[Delete]</a>
        			    {{/hasEditPostText}}
   		            {{#hasEditThreadText}}
                  <a href="/app/thread/delete?delete_thread_id=2558">[Delete thread]</a>
        			    {{/hasEditThreadText}}
   		            {{#hasMoveToThreadText}}
	           			<a id="move_to_thread_{{iterate}}" href="/app/post/movetothread/{{id}}?thread={{parentThreadId}}">[Move to new thread]</a>
            			{{/hasMoveToThreadText}}
   		            {{#hasEditThreadText}}
	           			<a id="thread_edit" href="/app/thread/edit/{{id}}?thread={{parentThreadId}}">[Edit thread]</a>
            			{{/hasEditThreadText}}
   		            {{#hasEditPostText}}
	           			<a id="thread_edit" href="/app/post/edit/{{id}}?thread={{parentThreadId}}&start={{returnToThreadFromEditStartParam}}&limit={{returnToThreadFromDeletePostLimitParam}}">[Edit]</a>
            			{{/hasEditPostText}}
	           		<i id="post_author">
	           			By {{username}} | <i>{{lastModifiedDate}}</i>
	           		</i>
	           		  | <a id="link" href="/app//post/{{id}}">link</a> 
	           			| <a id="reply_{{iterate}}" href="/app/post/reply/{{id}}?thread={{parentThreadId}}&limit={{returnToThreadFromDeletePostLimitParam}}&start={{returnToThreadFromReplyStartParam}}">reply</a>
	             		{{#editedByAdmin}}
	           			edited by an admin
	            		{{/editedByAdmin}}
                </div>	
	            		
				</div>
			{{/posts}}
		</div>

        <ul class="pagination" style="padding-top:15px;">
                    <li class=""><a id="prev" href="{{{prev}}}">«</a></li>
                    {{{pages}}}
                    <li class=""><a id="next" href="{{{next}}}">»</a></li>
        </ul>      

        <form method="post" action="" class="form" style="width: 40%;min-width:350px;">
    <div>
      <textarea placeholder="content" 
        id="add_content_input"
        class="form-control form-bottom-margin" 
        name="content" 
        cols="50" rows="6"></textarea>
    </div>
                <br />
                <input name="addpost_active" type="hidden" /> 
        {{#loggedIn}}
                <input type="submit" class="form-control form-bottom-margin" id="addpost_form_submit" value="add post" />
        {{/loggedIn}}
        {{^loggedIn}}
                <input type="submit" class="form-control form-bottom-margin" id="addpost_form_submit" value="add post" disabled="disabled" />
                        <div>please login to add post</div>
        {{/loggedIn}}
        </form>


    </body>
</html>