<html>
      <head>
      <title>Edit Thread - Android Manchester</title>
      {{> common_header_elements}}
      </head>
      <body class="container">
    {{> nav_bar}}

       {{#error}}
         <div style="color: red;" id="error">
               {{.}}
         </div>
       {{/error}}
        <form 
          action="/thread/edit/{{postId}}?thread={{thread}}"
          style="width:50%"
          method="post">
            <input name="thread" 
              type="hidden"
              value="{{thread}}" />
          <div>
            <input name="subject" 
              class="form-control form-bottom-margin" 
              value="{{{subject}}}" />
          </div>  
          <div>
            <textarea name="content" 
              class="form-control form-bottom-margin" 
              cols="50" rows="6">{{{content}}}</textarea>
          </div>
          <div>
            <input name="tags" 
            class="form-control form-bottom-margin" 
            value="{{{tags}}}" />
          </div>
          <div>
            <input type="submit" 
               id="editpost_submit_input"
              class="form-control form-bottom-margin" 
               {{^loggedIn}}
                disabled="disabled"
                value="please login to edit"
               {{/loggedIn}}
               {{#loggedIn}}
                value="edit"
               {{/loggedIn}}
            />
          </div>
        </form>     
        

  </body>
</html> 