<html>
      <head>
      {{> common_header_elements}}
        <title>{{{subject}}} | Android Manchester</title>
      </head>
      <body class="container">
      {{> nav_bar}}


	 	<div id="tags">
	 	 {{#tags}}
	 	   <span class="tag"><a class="label label-success"  href="/?start=0&limit=10&tag={{{.}}}">{{{.}}}</a></span>
	 	 {{/tags}}
		</div>
  
    <div class="thread-header-line">
        <h3 class="thread-header" id="thread_subject">{{{subject}}}</h3> 
    </div> 

    

    <div>
			{{#posts}}
				<div id="post_{{iterate}}">
          
              <div class="post" id="post_content">
                <p>{{{htmlContent}}}</p>
              </div> 
              
	            	<div class="post-authorline">
   		            {{#hasEditThreadText}}
	           			<a id="thread_edit" href="/thread/edit/{{id}}?thread={{parentThreadId}}">[Edit thread]</a>
            			{{/hasEditThreadText}}
   		            {{#hasEditPostText}}
	           			<a id="post_edit" href="/post/edit/{{id}}?thread={{parentThreadId}}&start={{returnToThreadFromEditStartParam}}&limit={{returnToThreadFromDeletePostLimitParam}}">[Edit]</a>
            			{{/hasEditPostText}}
   		            {{#hasEditThreadText}}
                  <a id="delete_thread_form_submit" href="/thread/delete?delete_thread_id={{id}}">[Delete thread]</a>
        			    {{/hasEditThreadText}}
   		            {{#hasEditPostText}}
	           			<a id="delete_{{iterate}}" href="/post/delete/{{id}}?thread={{parentThreadId}}&limit={{returnToThreadFromDeletePostLimitParam}}&start={{returnToThreadFromDeletePostStartParam}}">[Delete]</a>
        			    {{/hasEditPostText}}
   		            {{#hasMoveToThreadText}}
	           			<a id="move_to_thread_{{iterate}}" href="/post/movetothread/{{id}}">[Move to new thread]</a>
            			{{/hasMoveToThreadText}}
	           		<i id="post_author">
	           			By {{username}} | <i id="post_date">{{lastModifiedDate}}</i>
	           		</i>
	           		  | <a id="link" href="/post/{{id}}">link</a> 
	           			| <a id="reply_{{iterate}}" href="/post/reply/{{id}}?thread={{parentThreadId}}&limit={{returnToThreadFromDeletePostLimitParam}}&start={{returnToThreadFromReplyStartParam}}&numPosts={{numPosts}}">reply</a>
	             		{{#editedByAdmin}}
	           			edited by an admin
	            		{{/editedByAdmin}}
                </div>	
				</div>
			{{/posts}}
		</div>

        <ul class="pagination" style="padding-top:15px;">
                    <li class=""><a id="prev" href="{{{prev}}}">&laquo;</a></li>
                    {{#pages}}
                      <li><a id="page{{pageNum}}" href="{{url}}">{{pageNum}}</a></li>
                    {{/pages}}
                    <li class=""><a id="next" href="{{{next}}}">&raquo;</a></li>
        </ul>      
										      

        <div style="color: red;">
                {{#addPostError}}
                        {{.}}
                {{/addPostError}}
        </div>
        <br />
  
        <form method="post" action="" class="form" style="width: 40%;min-width:350px;">
            <div>
              <textarea placeholder="content" 
                id="post_content_input"
                class="form-control form-bottom-margin" 
                name="content" 
                cols="50" rows="6"></textarea>
            </div>
                <br />
                <input name="numPosts" type="hidden" value="{{numPosts}}"/> 
                <input name="addpost_active" type="hidden" /> 
        {{#loggedIn}}
                <input type="submit" class="form-control form-bottom-margin" id="addpost_form_submit" value="add post" />
        {{/loggedIn}}
        {{^loggedIn}}
                <input type="submit" class="form-control form-bottom-margin" id="addpost_form_submit" value="please login to add post" disabled="disabled" />
        {{/loggedIn}}
        </form>


    </body>
</html>