{{#thread}}
	{{subject}}!
	<ul>
		{{#posts}}
			<li id="post_{{iterate}}">
           		<span id="post_content">
           			{{content}}
           		</span>
           		- 
           		<span id="post_author">
           			{{username}}
           		</span>
			</li>
		{{/posts}}
	<ul>
{{/thread}}