<html>
      <head>
      {{{common_header_elements}}}
      <title>Delete thread | Android Manchester</title>
      </head>
      <body class="container">
    {{{nav_bar}}}

    <div id="error_message" style="color: red">
	   {{errorMessage}}
	  </div>
	
	  <div>Sure you want to delete the entire thread?</div>
    <div>There's no going back.</div>
    <br />
    <form method="post" 
    action="/app/thread/delete?delete_thread_id={{id}}"
    style="width: 50%"
    >
        <input name="delete_thread_id_form" value="{{id}}" type="hidden" /> 
        {{#loggedIn}}
	        <input type="submit" 
          class="form-control form-bottom-margin" 
          value="Delete the entire thread. Forever." 
	        id="delete_thread_form_submit" />
        {{/loggedIn}}
        {{^loggedIn}}
	        <input type="submit" 
          class="form-control form-bottom-margin" 
	        id="delete_thread_form_submit" disabled="disabled" value="you must be logged in" />
        {{/loggedIn}}
	</form>
	</body>
</html>