{{#thread}}
 	<h3 id="thread_subject">
           {{subject}}
	</h3>
	<ul>
		{{#posts}}
			<li id="post_{{iterate}}">
           		<span id="post_content">
           			{{content}}
           		</span>
           		- 
           		<span id="post_author">
           			{{username}}
           		</span>
           		- 
           		<span id="post_date">
           			{{lastModifiedDate}}
           		</span>
           		<a id="link" href="/single/{{id}}">
           			link
           		</a>
           		
			</li>
		{{/posts}}
	</ul>
{{/thread}}