<html>

        {{#addPostError}}
        	{{.}}
        {{/addPostError}}

        <form method="post" action="">
                <input name="content" type="text" id="post_content_input" /> 
                <br />
                <input name="addpost_active" type="hidden" /> 
        {{#loggedIn}}
                <input type="submit" id="addpost_form_submit" value="add post" />
        {{/loggedIn}}
        {{^loggedIn}}
                <input type="submit" id="addpost_form_submit" value="add post" disabled="disabled" />
                        <div>please login to add post</div>
        {{/loggedIn}}
        </form>

		{{#loggedInCorrectly}}
	    <form method="get" action="delete">
	        <input name="delete_thread_id" value="{{rootPostId}}" type="hidden" /> 
	        <input type="submit" id="delete_thread_form_submit" value="delete thread" />
		</form>
		{{/loggedInCorrectly}}
	 	<h3 id="thread_subject">
	           {{subject}}
		</h3>
		<ul>
			{{#posts}}
				<li id="post_{{iterate}}">
	           		<span id="post_content">
	           			{{{htmlContent}}}
	           		</span>
	           		- 
	           		<span id="post_author">
	           			{{username}}
	           		</span>
	           		- 
	           		<span id="post_date">
	           			{{lastModifiedDate}}
	           		</span>
	           		<a id="link" href="/post/{{id}}">link</a> | 
   		            {{#loggedInCorrectly}}
	           			<a id="delete_{{iterate}}" href="/post/delete/{{id}}?thread={{parentThreadId}}">delete</a>
        			{{/loggedInCorrectly}}
				</li>
			{{/posts}}
		</ul>

        <div>
                <a id="prev" href="{{{prev}}}">prev<a> | <a id="next" href="{{{next}}}">next</a>
        </div>
        {{{pages}}}

</html>