<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>PROJECT_NAME</display-name>

   <servlet-mapping>
     <servlet-name>default</servlet-name>
     <url-pattern>/res/*.css</url-pattern>
   </servlet-mapping> 
   <servlet-mapping>
     <servlet-name>default</servlet-name>
     <url-pattern>/res/*.js</url-pattern>
   </servlet-mapping> 
   <servlet-mapping>
     <servlet-name>default</servlet-name>
     <url-pattern>/res/*.png</url-pattern>
   </servlet-mapping> 

    <filter>
       <filter-name>Logging Filter</filter-name>
       <filter-class>
       org.denevell.natch.jerseymvc.ExceptionLogger
       </filter-class>
    </filter>
    <filter-mapping>
       <filter-name>Logging Filter</filter-name>
       <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
      <listener-class>org.denevell.natch.jerseymvc.ManifestVarsListener</listener-class>
    </listener>
    <listener>
      <listener-class>org.denevell.natch.jerseymvc.SessionFromCookiesRequestListener</listener-class>
    </listener>

</web-app>